nodejs_api/player.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PlayerService"
             targetNamespace="http://localhost:3000/wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:3000/wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <message name="GetPlayerRequest">
    <part name="playerId" type="xsd:int"/>
  </message>

  <message name="GetPlayerResponse">
    <part name="fullName" type="xsd:string"/>
    <part name="position" type="xsd:string"/>
    <part name="age" type="xsd:int"/>
    <part name="marketValue" type="xsd:string"/>
  </message>

  <message name="ValidateExchangeRateRequest">
    <part name="fromCurrency" type="xsd:string"/>
    <part name="toCurrency" type="xsd:string"/>
    <part name="providedRate" type="xsd:string"/>
  </message>

  <message name="ValidateExchangeRateResponse">
    <part name="isValid" type="xsd:boolean"/>
    <part name="message" type="xsd:string"/>
    <part name="actualRate" type="xsd:string"/>
    <part name="difference" type="xsd:string"/>
    <part name="percentageDiff" type="xsd:string"/>
    <part name="status" type="xsd:string"/>
    <part name="timestamp" type="xsd:string"/>
    <part name="lastUpdate" type="xsd:string"/>
    <part name="providedRate" type="xsd:string"/>
    <part name="currencyPair" type="xsd:string"/>
    <part name="source" type="xsd:string"/>
  </message>

  <portType name="PlayerPortType">
    <operation name="GetPlayer">
      <input message="tns:GetPlayerRequest"/>
      <output message="tns:GetPlayerResponse"/>
    </operation>
    <operation name="ValidateExchangeRate">
      <input message="tns:ValidateExchangeRateRequest"/>
      <output message="tns:ValidateExchangeRateResponse"/>
    </operation>
  </portType>

  <binding name="PlayerBinding" type="tns:PlayerPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetPlayer">
      <soap:operation soapAction="GetPlayer"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ValidateExchangeRate">
      <soap:operation soapAction="ValidateExchangeRate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="PlayerService">
    <documentation>Player SOAP Service</documentation>
    <port name="PlayerPort" binding="tns:PlayerBinding">
      <soap:address location="http://localhost:3000/soap"/>
    </port>
  </service>
</definitions>
